@tailwind base;
@tailwind components;
@tailwind utilities;

.arrowIcon {
	transition: all 0.5s;
}
.arrowIcon:hover {
	transform: rotate(180deg);
}
.dropDownData {
	background: red;

	opacity: 0;
	transition: all 1s;
}
.dropDownActiveData {
	opacity: 1;
}
